.wrapper {
    --search-border-radius: 92px;
    --search-height: 46px;
    --search-top-spacer: 9px;
    --search-bottom-width: 52px;
    width: 100%;
    height: var(--default-layout-header-height);
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 1px;
    display: flex;
    justify-content: center;
}
.inner {
    width: var(--default-layout-width);
    padding: 0 var(--default-layout-horizontal-spacer);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search, .search-result {
    width: 361px;
}

.search-title {
    font-size: 1.4rem;
    opacity: 0.6;
    padding: 8px 14px;
}
.search {
    position: relative;
    display: flex;
    // justify-content: space-around;
    
    height: var(--search-height);
    background-color: rgba(22, 24, 35, 0.06);
    border: 1px solid transparent;
    border-radius: var(--search-border-radius);
    padding: 0px 0 0 16px;

    input {
        flex: 1;
        color: var(--black);
        font-size: 1.6rem;
        background-color: transparent;
        height: 100%;
        caret-color: var(--primary);
    }

    input:not(:placeholder-shown) ~ .search-btn {
        color: rgba(22, 24, 35, 0.75);
    }

    &::after {
        content: "";
        position: absolute;
        top: var(--search-top-spacer);
        right: var(--search-bottom-width);
        width: 1px;
        height: calc(var(--search-height) - var(--search-top-spacer) * 2);
        background-color: rgba(22, 24, 35, 0.12);
    }

    &:focus-within {
        border-color:#ccc;
    }
}

.clear, .loading {
    font-size: 1.6rem;
    position: absolute;
    right: calc(var(--search-bottom-width) + 12px);
    top: 50%;
    transform: translateY(-50%);
    color: #817f7f;
}

.search-btn {
    width: 52px;
    height: 100%;
    border-radius:0 var(--search-border-radius) var(--search-border-radius) 0;
    font-size: 1.8rem;
    color: #817f7f;
    &:hover {
        background-color: rgba(22, 24, 35, 0.03);
        cursor: pointer;
    }

    &:active {
        background-color: rgba(22, 24, 35, 0.06);
    }
}

.more-btn {
    margin-left: 26px;
    background: transparent;
    font-size: 1.6rem;
    cursor: pointer;
    padding: 6px 8px;
    cursor: pointer;
}

.action-btn {
    font-size: 2.4rem;
    background-color: transparent;
    color: #161823;
    padding: 4px 12px;
    cursor: pointer;
}
.actions {
    display: flex;
}

.user-avatar {
    width: 32px;
    height: 32px;
    object-fit: cover;
    border-radius: 50%;
    margin-left: 12px;
    cursor: pointer;
}